img { display: block; }
body { font: normal 13px Helvetica; color: black; }
a { text-decoration: none; color: black; }

.clear:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clear {display: inline-block;}
* html .clear {height: 1%;}
.clear {display: block;}
